<!DOCTYPE html>
<html>
<head>
    <title>Admin - Applications</title>
</head>
<body>

<h1>All Job Applications</h1>

<table border="1" cellpadding="10">
    <tr>
        <th>ID</th>
        <th>User Email</th>
        <th>Job Title</th>
        <th>Company</th>
        <th>Location</th>
    </tr>

    {% for app in applications %}
    <tr>
        <td>{{ app[0] }}</td>
        <td>{{ app[1] }}</td>
        <td>{{ app[2] }}</td>
        <td>{{ app[3] }}</td>
        <td>{{ app[4] }}</td>
    </tr>
    {% endfor %}

</table>

</body>
</html>